.title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 4px;
  text-align: center;
}

.subTitle {
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: #c8c8c8 1px 1px 2px;
}

.leftButton {
  margin-right: 20px;

  :global {
    button:first-child {
      color: $color-brand1-6;

      &:hover {
        color: $color-brand1-6;
      }
    }
  }
}

.gitStar {
  width: 145px;
  height: 32px;
  margin: 0 auto;
  border: 0;
}

.gitContainer {
  margin-top: 30px;
  text-align: center;
}

.updateLogLinkWrap {
  text-align: center;
}

.updateLogLink {
  color: #fff;
}

.landingIntroBanner {
  position: relative;
}

.landingIntroBannerBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.landingIntroBannerContentWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .landingIntroBannerContent {
    // padding-right: 15px;
    margin-top: 250px;
    // padding-top: 100px;
    // padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landingIntroBannerButtons {
    a:hover,
    a:visited,
    a:link {
      color: #fff;
    }
  }
}
.font{
  // margin-left: 200px;
  padding-top: 20px;
  width:268px;
  height:24px;
  font-size:22px;
  font-family:Microsoft YaHei;
  font-weight:100;
  color:rgba(255,255,255,1);
}

.font2{
  // margin-left: 194px;
  padding-top: 40px;
  width:233px;
  height:16px;
  font-size:22px;
  font-family:Arial;
  font-weight:900;
  color:rgba(255,255,255,1);
}
.font3{
  width:73px;
  height:23px;
  font-size:22px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(255,207,17,1);
}
.font4{
  width:88px;
  height:22px;
  font-size:20px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(255,255,255,1);
}
