.wapper{
    background:rgba(241,241,241,1);
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.projectShow{
    display: flex;
    // padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.projectPicShow{
    padding: 0 3px;
    margin-top: 24px;
}

.projectImg{
    width: 225px;
    height: 268px;
    padding-left: 2px;
}