
.title{
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.iconArrow{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.icon{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.iconImg{
    width: 5%;
}

.iconShow{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.iconShowPic{
    height: 220px;
    width: 222px;
    padding-left: 2px;
}

.posterShow{
    display: flex; 
    max-width: 750px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.posterPicShow{
    // width: 29%;
    padding: 0 3px;
    margin-top: 24px;
}

.illustrationShow{
    display: flex; 
    max-width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.illustrationPicShow{
    // width: 29%;
    padding: 0 3px;
    margin-top: 24px;
}

.posterImg{
    width: 170px;
    height: 224px;
    padding-left: 2px;
}