
.title{
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.iconArrow{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.icon{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}