.headerContainer {
  display: flex;
  // position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  background: #433f47;
  height: 80px;

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #433f47;
    // width: 100%;
    // max-width: 500px;
    // margin: 18px 683px;
  }

  .headerNavbar {
    display: flex;
    flex-direction: row;

    .headerMenuItem {
      margin-left: 60px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .name {
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(227, 227, 227, 1);
    text-align: center;
  }
  .subName {
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(227, 227, 227, 1);
    text-align: center;
  }
  .aa {
    background-color: olive;
  }
}
// .biz-anchor .biz-anchor-link {
/* padding: 3px 0 3px 16px; */
/* line-height: 1; */
/* border-left: 2px solid #e8e8e8; */
// }

