.headerContainer {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 18px 683px;
  }

  .headerNavbar {
    display: flex;
    flex-direction: row;

    .headerMenuItem {
      margin-left: 60px;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .name{
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(227,227,227,1);
    text-align: center;
  }
  .subName{
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(227,227,227,1);
    text-align: center;
  }
}
